<main class="main-container mb-5">
    <div class="alert alert-success col-10 mx-auto text-center text-uppercase custom-alert-bottom" role="alert"
        *ngIf="successAddingFlight">
        Uspešno ste kreirali let
    </div>
    <div class="alert alert-success col-10 mx-auto text-center text-uppercase custom-alert-bottom" role="alert"
        *ngIf="successDeletingFlight">
        Uspešno ste izbrisali let {{flightToDelete}} za {{specificAirport.name}}
    </div>
    <div class="alert alert-danger col-10 mx-auto text-center text-uppercase custom-alert-bottom" role="alert"
        *ngIf="errorAddingFlight">
        Let nije kreiran
    </div>
    <div class="alert alert-danger col-10 mx-auto text-center text-uppercase custom-alert-bottom" role="alert"
        *ngIf="formInvalid">
        Molimo Vas popunite sva obavezna polja
    </div>
    <h4 class="text-secondary text-size pointer text-center mt-5 mb-3 col-10 mx-auto text-uppercase">
        {{"airports.allFlightOn" | translate}} <span class="text-uppercase">"{{specificAirport.name}}"</span></h4>
    <div class="col-8 mt-2 mx-auto">
        <ngx-spinner [fullScreen]="false" bdColor="rgba(0, 177, 221, 0.2)" size="medium" color="#fff"
            type="ball-clip-rotate-multiple">
        </ngx-spinner>
        <div class="table-responsive" *ngIf="flights.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">{{"airports.No" | translate}}#</th>
                        <th scope="col">{{"airports.flightNumber" | translate}}</th>
                        <th scope="col">{{"airports.departureTime" | translate}}</th>
                        <th scope="col">{{"airports.arrivalTime" | translate}}</th>
                        <th scope="col">{{"airports.destination" | translate}}</th>
                        <th scope="col">{{"airports.options" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let flight of flights; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            {{ flight.flightNumber }}
                        </td>
                        <td>
                            <i class="fas fa-plane-departure mr-2"></i>
                            {{ flight.departureDateTime }}
                        </td>
                        <td>
                            <i class="fas fa-plane-arrival mr-2"></i>
                            {{ flight.arrivalDateTime }}
                        </td>
                        <td>{{ flight.toWhere }}</td>
                        <td>
                            <i class="far fa-edit hover-edit" data-toggle="tooltip" data-placement="top" title="Edit"
                                (click)="editSpecificFlight(flight)"></i>
                            <i class="far fa-trash-alt ml-3 hover-delete" data-toggle="tooltip" data-placement="top"
                                title="Delete" (click)="deleteFlightFirstStep(flight.flightNumber, content)"></i>
                            <i class="fa fa-user-friends ml-3 hover-passengers" data-toggle="tooltip" data-placement="top"
                                title="Add Passengers" (click)="addPassengers(flight.flightNumber)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p *ngIf="flights.length == 0" class="text-center">NEMA REZULTATA</p>
    </div>
    <div class="d-flex flex-row align-items-center col-8  mx-auto ">
        <div class="d-flex flex-column align-items-center mt-3 col-12 p-0">
            <div class="col-12 p-0">
                <div class="card">
                    <div class="card-header bg-white text-header">
                        <h4 class="text-light text-center text-uppercase">{{"airports.addNewFlight" | translate}}
                        </h4>
                    </div>
                    <div class="card-body  bg-white">
                        <form [formGroup]="newFlightRecord" class="needs-validation" autocomplete="off">
                            <div class="form-group">
                                <div class="d-flex flex-row justify-content-between">
                                    <label for="flightNumberFormControl">{{"airports.flightNumber" | translate}}<span
                                            class="asterix ml-2">*</span></label>
                                    <i class="far fa-times-circle hover-cancel d-flex flex-row align-items-center"
                                        data-toggle="tooltip" data-placement="top" title="Isprazni polja"
                                        (click)="cancelEdit()" *ngIf="modeEdit"></i>
                                </div>
                                <input type="text" class="form-control form-control-lg"
                                    [ngClass]="{'border-danger': formInvalid || uniqueFlightNumber}"
                                    id="flightNumberFormControl" formControlName="flightNumberFormControl"
                                    aria-describedby="fnumberlHelp"
                                    placeholder='{{"airports.flightNumber" | translate}}' required
                                    [readonly]="readbool">
                                <small id="unique" *ngIf="uniqueFlightNumber"
                                    class="form-text text-danger">{{"airports.uniqueFlightId" | translate}}</small>
                            </div>
                            <div class="d-flex flex-lg-row fx-md-column fx-sm-column flex-sm-column">
                                <div
                                    class="form-group col-lg-6 col-md-12 col-sm-12 p-0 mr-3 d-flex flex-row  justify-content-center align-items-center">
                                    <div class="col-9 pl-0">
                                        <label
                                            for="departureDateFormControl">{{"airports.departureDateAndTime" | translate}}<span
                                                class="asterix ml-2">*</span></label>
                                        <input class="form-control form-control-lg"
                                            [ngClass]="{'border-danger':formInvalid}" placeholder="yyyy-mm-dd"
                                            (click)="d.toggle()" formControlName="departureDateFormControl" name="dp"
                                            [(ngModel)]="ngbDate" ngbDatepicker #d="ngbDatepicker" required>
                                    </div>
                                    <div class="col-3 align-self-end pr-0">
                                        <ngb-timepicker [ngClass]="{'border-danger':true}"
                                            formControlName="departureTimeFormControl" [(ngModel)]="time"
                                            [spinners]="false" required></ngb-timepicker>
                                    </div>
                                </div>
                                <div
                                    class="form-group p-0 col-lg-6 col-md-12 col-sm-12 d-flex flex-row justify-content-center align-items-center">
                                    <div class="col-9 pl-0">
                                        <label
                                            for="arrivalDateFormControl">{{"airports.arrivalDateAndTime" | translate}}<span
                                                class="asterix ml-2">*</span></label>
                                        <input class="form-control form-control-lg"
                                            [ngClass]="{'border-danger':formInvalid}" placeholder="yyyy-mm-dd"
                                            (click)="f.toggle()" formControlName="arrivalDateFormControl" name="dp"
                                            [(ngModel)]="model2" ngbDatepicker #f="ngbDatepicker" required>
                                    </div>
                                    <div class="col-3 align-self-end">
                                        <ngb-timepicker formControlName="arrivalTimeFormControl"
                                            [ngClass]="{'border-danger':true}" [(ngModel)]="time2" [spinners]="false"
                                            required></ngb-timepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-row flex-sm-col">
                                <div class="form-group col-6 p-0">
                                    <label for="toWhereFormControl">{{"airports.destination" | translate}}<span
                                            class="asterix ml-2">*</span></label>
                                    <input type="text" class="form-control form-control-lg"
                                        [ngClass]="{'border-danger':formInvalid}" id="toWhereFormControl"
                                        formControlName="toWhereFormControl" aria-describedby="fnumberlHelp"
                                        placeholder='{{"airports.destination" | translate}}' required>
                                </div>
                                <div class="form-group col-6 ml-3 pl-0">
                                    <label for="aircraftFormControl">{{"airports.airplane" | translate}}<span
                                            class="asterix ml-2">*</span></label>
                                    <select class="custom-select form-control form-control-lg"
                                        formControlName="aircraftFormControl" [ngClass]="{'border-danger':formInvalid}">
                                        <option value="0" selected readonly>Izaberite avion</option>
                                        <option value="{{airplane.id}}" *ngFor="let airplane of allAircrafts">
                                            {{airplane.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="pt-4">
                                <button type="submit" class="btn btn-primary btn-lg mr-2"
                                    (click)="submitData(newFlightRecord)"
                                    *ngIf="!modeEdit">{{"buttons.save" | translate}}</button>
                                <button type="submit" class="btn btn-primary btn-lg mr-2"
                                    (click)="editFlightData(newFlightRecord)"
                                    *ngIf="modeEdit">{{"buttons.edit" | translate}}</button>
                                <button type="button" class="btn btn-outline-danger btn-lg"
                                    (click)="goBack()">{{"buttons.cancel" | translate}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Brzi Prikaz</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body pt-5 pb-5">
            Da li ste sigurni da želite da izbrišete LET <u>{{flightToDelete}}</u> za {{specificAirport.name}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" id="focus-me" data-dismiss="modal" focus="true"
                (click)="dismissDeletion()" (click)="focus()">ODUSTANI</button>
            <button type="button" class="btn btn-primary" (click)="deleteFlight()">OBRIŠI</button>
        </div>
    </ng-template>
</main>