@import '../../../../../colors.scss';

.card-body{
    border-left: 1px solid $common-color;
    border-bottom: 1px solid $common-color;
    border-right: 1px solid $common-color;
    // box-shadow: -1px 11px 20px #76767659;
}

.close{
    text-shadow: none !important;
    outline-style: none !important;
}

.card-header{
    min-height: 65px !important;
    display: flex;
    justify-content: center;
    border: 1px solid $common-color;
    background-color: $common-color !important;
    align-items: center;
    h5{
        text-align: center;

    }
    // box-shadow: 0px 9px 20px #76767659;
}

.pos-ab{
    position: absolute !important;
    top: 3em !important;
    right: 4em !important;
}
.table{
    .fas{
        color: $blackish;
    }
}

.min-height{
    min-height: 51em;
}