<main class="main-container">
    <div class="card-group mt-5">
        <div class="card-deck card-columns col-auto mb-5" style="width: 25em" *ngFor="let airport of allAirports">
            <div class="container-fluid">
                <div class="card special-card" (click)="goToAirport(airport.id)">
                    <ngx-spinner
                        [fullScreen]="false"
                        bdColor="rgba(0, 177, 221, 0.2)"
                        size="medium"
                        color="#fff"
                        type="ball-clip-rotate-multiple"
                    >
                    </ngx-spinner>
                    <img class="card-img-top" src="../../../../assets/images/airports/img-{{airport.id}}.png"
                        width="50%" alt="Card image cap">
                    <div class="card-header bg-white text-header">
                        <h5 class="card-title text-light text-center book-title text-uppercase">{{airport.name}}
                        </h5>
                    </div>
                    <div class="card-body  bg-white">
                        <p class="card-text">{{"airports.location" | translate}}: <span class="text-secondary"> {{airport.location}}</span></p>
                        <p class="card-text">{{"airports.icao" | translate}}: <span class="text-secondary">{{airport.icaoCode}}</span> </p>
                        <div class="d-flex flex-row">
                            <p class="card-text">
                                {{"airports.rating" | translate}}:
                            </p>
                            <p class="text-secondary ml-2" *ngIf="airport.rating == 1">
                                <i class="fas fa-star" style="color: gold"></i>
                                <!-- {{airport.rating}} -->
                            </p>
                            <p class="text-secondary ml-2" *ngIf="airport.rating == 2">
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <!-- {{airport.rating}} -->
                            </p>
                            <p class="text-secondary ml-2" *ngIf="airport.rating == 3">
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <!-- {{airport.rating}} -->
                            </p>
                            <p class="text-secondary ml-2" *ngIf="airport.rating == 4">
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <!-- {{airport.rating}} -->
                            </p>
                            <p class="text-secondary ml-2" *ngIf="airport.rating == 5">
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <i class="fas fa-star" style="color: gold"></i>
                                <!-- {{airport.rating}} -->
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>