<div class="main-container">
    <ngx-spinner
        [fullScreen]="false"
        bdColor="rgba(0, 177, 221, 0.2)"
        size="medium"
        color="#fff"
        type="ball-clip-rotate-multiple"
      >
      </ngx-spinner>
    <div class="container-fluid mt-5">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th scope="col">{{"airports.No" | translate}}#</th>
                      <th scope="col">{{"airports.flightNumber" | translate}}</th>
                      <th scope="col">{{"passengers.cardNumber" | translate}}</th>
                      <th scope="col">{{"passengers.fullName" | translate}}</th>
                      <th scope="col">{{"passengers.seatNumber" | translate}}</th>
                      <th scope="col">{{"passengers.gateNumber" | translate}}</th>
                      <th scope="col">{{"airports.options" | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of allTickets; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                          {{ticket.flight.flightNumber}}

                        </td>
                        <td>
                            {{ticket.number}}
                        </td>
                        <td>
                            {{ticket.passenger.name}}
                        </td>
                        <td>                     
                           {{ticket.seatNum}}
                        </td>
                        <td>                      
                          {{ticket.gateNum}}
                        </td>
                        <td>
                            <i class="far fa-edit" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                            <i class="far fa-trash-alt ml-3" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>