<div class="jumbotron jumbotron-fluid">
    <div class="plane-loader">
        <div class="cloud cloud1"></div>
        <div class="cloud cloud4"></div>
        <div class="cloud cloud3"></div>
        <div class="plane"></div>
        <div class="cloud cloud2"></div>
        <div class="steam steam1">
          <div class="c1"></div><div class="c2"></div><div class="c3"></div><div class="c4"></div><div class="c5"></div><div class="c6"></div><div class="c7"></div><div class="c8"></div><div class="c9"></div><div class="c10"></div>
        </div>
        <div class="steam steam2">
          <div class="c1"></div><div class="c2"></div><div class="c3"></div><div class="c4"></div><div class="c5"></div><div class="c6"></div><div class="c7"></div><div class="c8"></div><div class="c9"></div><div class="c10"></div>
        </div>
        <div class="steam steam3">
          <div class="c1"></div><div class="c2"></div><div class="c3"></div><div class="c4"></div><div class="c5"></div><div class="c6"></div><div class="c7"></div><div class="c8"></div><div class="c9"></div><div class="c10"></div>
        </div>
        <div class="steam steam4">
          <div class="c1"></div><div class="c2"></div><div class="c3"></div><div class="c4"></div><div class="c5"></div><div class="c6"></div><div class="c7"></div><div class="c8"></div><div class="c9"></div><div class="c10"></div>
        </div>
      </div>
  <div class="container">
    <h1 class="display-4 text-light font-weight-bold">Dobrodošli</h1>
    <p class="lead text-light">AirAssist - platforma namenjena asistentima i konsultantima u planiranju letova</p>
    <button type="button" class="btn btn-light btn-lg" [routerLink]="['/airports']">PLATFORMA</button>
    <button type="button" class="btn btn-outline-light ml-3 btn-lg">KONTAKT</button>
  </div>
</div>