@import '../../../../../colors.scss';

.card{
    border: none !important;
}

.special-card{
    opacity: .7;
    min-height: 592px;
    &:hover{
        // box-shadow: 0px 9px 20px #76767659;
        // transform: scale(1.056);
        opacity: 1;
        transition: .3s;
    }
}

.card-header{
    min-height: 90px !important;
    display: flex;
    justify-content: center;
    border: 1px solid $common-color;
    background-color: $common-color !important;
    align-items: center;
    h5{
        text-align: center;

    }
    // box-shadow: 0px 9px 20px #76767659;
}

.btn-info{
    background-color: $common-color;
}

.card-body{
    border-left: 1px solid $common-color;
    border-bottom: 1px solid $common-color;
    border-right: 1px solid $common-color;
    border-top: 1px solid $common-color;
    // box-shadow: -1px 11px 20px #76767659;
}

.special-card-header{
    min-height: 40px !important;
}

.special-card-body{
    padding: 0 !important;
}