$navigation: #00afdd;
$footer: #00afdd;
$common-color-nav: rgb(61, 144, 227);
$common-color-nav-action: rgb(23, 100, 177);
$common-color: rgb(0, 175, 221);
$common-color-hover: rgb(39, 165, 196);
$common-color-light: rgba(0, 177, 221, 0.541);
$common-secondary: rgb(221, 66, 0);
$common-secondary-light: rgba(221, 66, 0, 0.473);
$white: rgb(255, 255, 255);
$black: rgb(51, 51, 51);
$red: red;